.App {
  text-align: center;
  
}

#root{
  background: url("./assets/img/background.jpg") ;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main h6{
  margin: 20px 0;
}

.app{
  width: 80vw;
  height: 85vh;
  background: rgb(43, 43, 43);
  border-radius: 10px;
  color: #FFF;
  border: 3px #FFF solid;
  box-shadow: 0px 0px 10px #FFF;
  overflow: hidden;
  position: relative;


}

.app header{
  margin: 0 0 20px 0;
}

.features{
  display: flex;
  justify-content: space-around;
}

.features-cards{
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  opacity: 0.7;
  box-shadow: 0px 0px 5px #fff;
}

.homebanner{
  background: url('./assets/img/homebg.jpg');
  
  background-size: cover;
  background-position: center;
  background-position-x: right;
  opacity: 0.9;
  padding: 20px 50px;
  margin-bottom: 30px;
  border-radius: 40px;

}



#navrow{

  flex-direction: row;

}

#navbutt{
  
  margin-right: 10px;
}


.app footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  
}

.app textarea{

  height: 0px;
  width: 0px;
  opacity: 0;
  cursor: pointer;  

}


