.App {
  text-align: center;
  
}

#root{
  
  background: url("./assets/img/background.jpg");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main h6{
  margin: 20px 0;
}

.app{
  width: 80vw;
  background: rgb(43, 43, 43);
  opacity: 0.95;
  border-radius: 10px;
  color: #FFF;
  border: 3px #FFF solid;
  box-shadow: 0px 0px 10px #FFF;
  overflow: hidden;
  position: relative;


}

.app header{
  margin: 0 0 20px 0;
}

.features{
  display: flex;
  justify-content: space-around;
}

.features-cards{
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  opacity: 0.7;
  box-shadow: 0px 0px 5px #fff;
}

.homebanner{
  background: url('./assets/img/homebg.jpg');
  
  background-size: cover;
  background-position: center;
  background-position-x: right;
  opacity: 0.9;
  padding: 20px 50px;
  margin-bottom: 30px;
  border-radius: 40px;

}



#navrow{

  flex-direction: row;

}

#navbutt{
  
  margin-right: 10px;
}

#userNameNavBar{

  color: #000;
  padding: 7px 7px;
  

}


.app footer{
  border-top: 1px #FFF solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(17, 17, 17, 0.322);
  margin-top: 20px;
  padding: 10px 0;
  
}
.app footer .row{
  display: flex;
  justify-content: center;
  align-items: center;

}

.app footer .badge{

  margin: 0px 5px;
}

.app textarea{

  height: 0px;
  width: 0px;
  opacity: 0;
  cursor: pointer;  

}

.input-group{

    position: relative;
    padding: 3em 1em 1em;
    border: 1px solid #d8d8d8;
    margin: 1.5rem 0 0;
}

.input-group::before {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  color: #aaa;
  font-size: smaller;
  font-weight: 500;

}

#personal::before{
  content: 'Personal information: ';
}

#script::before{
  content: 'Script parameters: ';
}
#whitelist::before{
  content: 'Exceptions list (users you don´t want to UnFollow): ';
}

#login::before{
  content: 'Please Login into your account:';
}

#register::before{
  content: 'Please fill the following fields:';
}

#exceptionsinput::before{
 
  content: 'Add a user to the exceptions list:';
}

.basicContainer{
  margin-top: 20px;
}

#input-button{
  display: flex;
  flex-direction: row;
}

#confirm-button{
  margin-left: 20px;
}

.modaloverride{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  max-height: 80vh;
}

#scrollable-table{
  width: 100%;
  overflow-y: auto;
  display: block;
  height: 300px;
}


.modal-body, .modal-footer{
  background: rgb(43, 43, 43);
}

.modal-content{
  box-shadow: 0px 0px 10px #FFF;
}

.mobile{
  display: none;
}

@media (max-width : 800px) {
  
 .app { 
    display: none; 
  }
  .mobile {
    display: block;
    color: #fff;
    
  }
  #root{
    height: 100%;
    width: 100vw;
  }
  
  .homebanner {
    background-repeat-y: no-repeat;
    padding: 10px 20px;
    margin: 40px 20px;
    background-position-x: 700px;
    background-position-y: -5px;
    border-radius: 10px;

  }
  .mobile footer{
    font-size: x-small;

    border-top: 1px #FFF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(17, 17, 17, 0.322);
    margin-top: 20px;
    padding: 10px 0;
  }
  .mobile footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-body{
    color: #FFF;
    text-align: center;
  }
}






